---
layout: default
title: Home
---
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<h1>Publications</h1>
<div class="card-grid">
  {% for pub in site.data.publications %}
    <div class="card">
      <h2><a href="/publications/{{ pub.title | slugify }}/">{{ pub.title }}</a></h2>
      {% if pub.authors %}
        <p><strong>
            {% if pub.authors.size > 1 %}
              Authors:
            {% else %}
              Author:
            {% endif %}
        </strong> {{ pub.authors | join: ', ' }}</p>
      {% endif %}
      <p><strong>Date:</strong> {{ pub.date }}</p>
      <p>{{ pub.description }}</p>
    </div>
  {% endfor %}
</div>
